.manageTasks {
    max-width: 46rem;
    width: 100%;
}

.createTask {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-top: -4rem;
}

.createTask textarea {
    width: 100%;
    height: 3.4rem;
    padding: 0.9rem;
    color: var(--gray-300);
    background: var(--gray-500);
    border-radius: 8px;
    border: 1px solid var(--gray-700);
    resize: none;
    line-height: 1.4;
}

.createTask button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0;
    background: var(--blue-dark);
    border-radius: 0.5rem;
    color: var(--gray-100);
    padding: 1rem;
    font-weight: 700;
    font-size: 0.87rem;
    line-height: 1.4;
    gap: 0.25rem;
}

.createTask button:hover {
    background: var(--blue);
    cursor: pointer;
}

.createTask textarea:focus {
    outline: transparent;
    border: 1px solid var(--purple-dark);
    color: var(--gray-100)
}

.taskList {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

.tasksInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 30rem;
    margin-bottom: 1rem;
}

.tasksInfo h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.87rem;
    line-height: 1rem;
    gap: 0.5rem;
    white-space: nowrap
}

.tasksInfo h2:nth-child(1) {
    color: var(--blue);
}

.tasksInfo h2:nth-child(2) {
    color: var(--purple);
}

.tasksInfo span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.12rem 0.5rem;
    gap: 0.62rem;
    background-color: var(--gray-400);
    border-radius: 62rem;
    font-size: 0.87rem;
    line-height: 1rem;
}

.emptyTasks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 1.5rem;
    gap: 1rem;
    width: 100%;
    margin-top: 1.5rem;
    color: var(--gray-400);
}

.emptyText {
    color: var(--gray-300);
    line-height: 1.4;
    text-align: center;
}

.emptyTasks:empty {
    display: none;
}