.taskList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
}

.taskList ul {
    width: 100%;
}

.task {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1rem;
    gap: 0.75rem;
    width: 100%;
    height: 4.5rem;


    background: var(--gray-500);
    border: 1px solid var(--gray-400);
    box-shadow: 0px 2px 8px var(--gray-400);
    border-radius: 8px;
}

.task label {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 0.87rem;
    line-height: 1.40;
    gap: 12px
}

.task input[type="checkbox"] {
  appearance: none;
  cursor: pointer;
}

.task input {
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid var(--blue);
    border-radius: 50%;
}

.task input:hover {
    background: var(--blue-dark);
}

.task input:checked {
    background: var(--purple-dark);
    border: 1px solid var(--purple-dark);
    color: var(--gray-100);
}

.task input:checked:hover {
    background: var(--purple);
}

.task input:checked:before {
    content: '\2713';
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: center;
}


.button {
    background: transparent;
    border: 0;
    color: var(--gray-300);
    cursor: pointer;
    border-radius: 2px;
}

.button:hover {
    color: var(--red);
}

.isNotComplete {
    color: var(--gray-100);
}

.isComplete {
    text-decoration: line-through;
    color: var(--gray-300);
}